.custom
element.style {
    transform-origin: 0px 0px;
}
.controller.ds4.white {
    /* background-image: url(ps4-white-assets/base.svgz); */
}

.ds4.half {
    margin-top: -300px;
}
.controller.ds4 {
    background: url(https://limitseven.github.io/Finalcomlogo.png);
    height: 596px;
    width: 801px;
    
}
.ds4 .a {
    background-position: 0 0;
    bottom: 0;
    left: 58px;
}

.ds4 .button {
    position: absolute;
    width: 55px;
    height: 55px;
    background: url(https://limitseven.github.io/boton.png); 
}

.ds4 .b {
    background-position: -57px 0;
    top: 58px;
    right: 0px;
}

.ds4 .button {
    position: absolute;
    width: 55px;
    height: 55px;
    background: url(ps4-assets/face.svgz);
    .ds4 .button {
    position: absolute;
    width: 55px;
    height: 55px;
    background: url(https://limitseven.github.io/boton.png);
}

.ds4 .x {
    background-position: -113px 0;
    top: 58px;
}
.ds4 .button {
    position: absolute;
    width: 55px;
    height: 55px;
    background: url(https://limitseven.github.io/boton.png);
}
    
.ds4 .y {
    background-position: 55px 0;
    left: 58px;
}

.ds4 .button {
    position: absolute;
    width: 55px;
    height: 55px;
    background: url(https://limitseven.github.io/boton.png);
}
