.custom
element.style {
    transform-origin: 0px 0px;
}
.controller.ds4.white {
    /* background-image: url(ps4-white-assets/base.svgz); */
}

.ds4.half {
    margin-top: -300px;
}
.controller.ds4 {
    background: url(https://limitseven.github.io/Finalcomlogo.png);
    height: 595px;
    width: 800px;
}
